.shows{
    color: red;
}
.setwidth{
    width: 100%;height: 80%;
}
.pl16{
    padding-left:16px
}
.left{
    float: right;
}
.pointer{
    cursor: pointer;
}
.fs{
    font-size: 14px;
    font-weight: 600;
}
.bgc{
    background: lightgray;
}
.clr{
    color: red;
}